article h2 {
  text-transform: uppercase;
  color: #3C3C3B;
  font-weight: 800;
  text-align: center;
  padding: 75px 0px; }

nav.navigation {
  background-color: #c00f06;
  color: #fff;
  min-height: 74px;
  display: flex;
  padding: 0px 34px;
  align-items: center;
  justify-content: space-between; }
  nav.navigation .menu {
    text-transform: uppercase; }

.banner-container {
  position: relative;
  height: 590px; }
  @media (max-width: 575px) {
    .banner-container {
      height: 180px; } }
  .banner-container .assine-button {
    height: 75px;
    background-color: #d32127;
    width: 340px;
    color: #FFF;
    position: absolute;
    bottom: 64px;
    left: 34px;
    font-weight: 800;
    font-size: 36px; }
    @media (max-width: 575px) {
      .banner-container .assine-button {
        height: 50px;
        width: 120px;
        bottom: 20px;
        font-size: 20px; } }
  .banner-container .slick-slide h3 {
    position: absolute;
    top: 90px;
    color: #fff;
    left: 34px; }
    @media (max-width: 575px) {
      .banner-container .slick-slide h3 {
        top: 20px; } }
  .banner-container .slick-slide .img-container {
    width: 100%;
    height: 590px;
    overflow: hidden; }
    @media (max-width: 575px) {
      .banner-container .slick-slide .img-container {
        height: 180px; } }
  .banner-container .slick-slide img {
    width: 100%; }

.container .assine-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px; }
  .container .assine-button-container .assine-button {
    height: 118px;
    background-color: #d32127;
    width: 534px;
    color: #FFF;
    font-weight: 800;
    font-size: 60px;
    margin-bottom: 130px; }
    @media (max-width: 575px) {
      .container .assine-button-container .assine-button {
        height: 50px;
        width: 200px;
        bottom: 20px;
        font-size: 20px; } }
  .container .assine-button-container p {
    font-weight: 800;
    color: #333333;
    font-size: 36px;
    text-align: center; }
    .container .assine-button-container p a {
      text-decoration: none;
      color: #d32127;
      display: block; }
  .container .assine-button-container img {
    max-width: 100%;
    margin-bottom: 50px; }

.fight-scroll img {
  height: 400px; }
  @media (max-width: 575px) {
    .fight-scroll img {
      height: 300px; } }
.fight-scroll:after {
  position: absolute;
  content: "";
  right: -2px;
  top: 0px;
  height: 100%;
  width: 10%;
  background: linear-gradient(to right, transparent, white); }
.fight-scroll .fight-container {
  text-transform: uppercase; }
.fight-scroll .fight-content {
  width: 285px; }
  @media (max-width: 575px) {
    .fight-scroll .fight-content {
      width: 214px; } }
.fight-scroll .fight-info {
  text-align: center;
  padding-top: 30px; }
  .fight-scroll .fight-info .fighters {
    font-weight: bold; }
    .fight-scroll .fight-info .fighters span {
      color: #d41e05; }
.fight-scroll .fight-date {
  text-transform: uppercase;
  .week-day-font-weight: lighter; }
  .fight-scroll .fight-date .day {
    font-weight: bold; }

footer {
  background-color: #f3f3f3; }
  footer p {
    font-weight: 800;
    color: #333333;
    text-align: center;
    padding: 50px 0px;
    margin: 0;
    font-size: 30px; }
  footer .providers-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }

.slick-dots {
  bottom: 0px; }
  .slick-dots li.slick-active button:before {
    color: #d31b02; }
  .slick-dots li button:before {
    color: #cccccc;
    opacity: 1.0; }

.slick-next {
  display: none; }

/*# sourceMappingURL=styles.css.map */
