{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pycombate</title>

  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/slick-carousel/slick/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

  <nav class="navigation">
    <div class="menu">
      <i class="fas fa-bars"></i> Menu
    </div>
    <img src="{% static 'images/combate-logo-menu.png' %}" alt="">
    <div class="search">
      <i class="fas fa-search"></i>
    </div>
  </nav>

  <div class="banner-container">
    <div class="banner-scroll">
      {% for banner in banners %}
      <div>
        <div class="img-container">
          <img src="media/{{banner.image}}" alt="">
        </div>
        <h3>{{banner.title}}</h3>
      </div>
      {% endfor %}
    </div>
    <button class="btn assine-button">Assine Já</button>
  </div>

  <div class="container">

    <article>
      <h2>A maior cobertura do UFC</h2>
      O Combate exibie <strong>ao vivo e na íntegra todas as edições do UFC</strong> com exclusividade,
      além de uma seleção com mais de 1.000 grandes desafios de MMA. E o que é melhor: quando e onde você quiser, sem custo adicional.
    </article>

    <article>
      <h2>Próximos Eventos Exclusivos</h2>

      <div class="fight-scroll">
        {% for fight in fights %}
          <div class="fight-container">

            <div class="fight-content">
              <div class="fight-date">
                <span class="week-day">
                  {{fight.date |date:"D d" }}
                </span>
                <span class="day">
                  DE {{fight.date |date:"M" }}
                </span>
              </div>
              <img src="media/{{fight.image}}" alt="">

              <div class="fight-info">
                <span class="fight-title">
                  {{fight.title}}
                </span>
                <div class="fighters">
                  {{fight.first_fighter}}
                  <span>X</span>
                  {{fight.second_fighter}}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </article>

    <div class="assine-button-container">
      <button class="btn assine-button">Assine Já</button>

      <img src="{% static 'images/combate-play-logo.png' %}" alt=""/>
      <p>
        Assita ao vivo e reveja as lutas quando quiser. Exclusivo para assinantes.
        <a href="">Conheça »</a>
      </p>
    </div>

  </div>

  <footer>
    <p>Escolha sua operadora e não perca nenhuma luta!</p>
    <div class="providers-container">
      {% for provider in providers %}
        <img src="media/{{provider.image}}" alt="">
      {% endfor %}
    </div>

  </footer>

  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'bower_components/slick-carousel/slick/slick.min.js' %}"></script>

  <script>
  $(document).ready(function(){
    $('.banner-scroll').slick({
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      autoplay : true,
      arrows: false,
      autoplaySpeed : 4000,
      pauseOnHover : false,
      cssEase: 'linear'
    });

    $('.fight-scroll').slick({
      centerMode: true,
      // centerPadding: '20px',
      slidesToShow: 2,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '55px',
            slidesToShow: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '55px',
            slidesToShow: 1
          }
        }
      ]
    });
  });
</script>
</body>
</html>
