$title-color : #c00f06;
$main-lateral-padding : 34px;

// Smartphones (landscape view)
$screen-xs-max: 575px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// extra Small devices
@mixin xs {
   @media (max-width: #{$screen-xs-max}) {
       @content;
   }
}

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

article{
  h2 {
    text-transform: uppercase;
    color: #3C3C3B;
    font-weight: 800;
    text-align: center;
    padding: 75px 0px;
  }
}

nav.navigation{
  background-color: $title-color;
  color: #fff;
  min-height: 74px;
  display: flex;
  padding: 0px $main-lateral-padding;
  align-items: center;
  justify-content: space-between;
  .menu {
    text-transform: uppercase;
  }
}

.banner-container{
  position: relative;
  height: 590px;

  @include xs {
    height:  180px;
  }

  .assine-button{
    height: 75px;
    background-color: #d32127;
    width: 340px;
    color: #FFF;
    position: absolute;
    bottom: 64px;
    left: $main-lateral-padding ;
    font-weight: 800;
    font-size: 36px;
    @include xs{
      height: 50px;
      width: 120px;
      bottom: 20px;
      font-size: 20px;
    };
  }

  .slick-slide {
    h3 {
      position: absolute;
      top: 90px;
      color: #fff;
      left: $main-lateral-padding ;
      @include xs{
        top:20px
      }
    }

    .img-container {
      width: 100%;
      height: 590px;
      @include xs {
        height: 180px;
      }
      overflow: hidden;
    }
    img {
      width: 100%;
    }
  }
}

.container {

  .assine-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    .assine-button {
      height: 118px;
      background-color: #d32127;
      width: 534px;
      color: #FFF;
      font-weight: 800;
      font-size: 60px;
      margin-bottom: 130px;
      @include xs{
        height: 50px;
        width: 200px;
        bottom: 20px;
        font-size: 20px;
      };
    }

    p {
      font-weight: 800;
      color: #333333;
      font-size: 36px;
      text-align: center;
      a {
        text-decoration: none;
        color : #d32127;
        display: block;
      }
    }

    img {
      max-width: 100%;
      margin-bottom: 50px;
    }
  }
}

.fight-scroll{
  img {
      height: 400px;

      @include xs{
        height: 300px;
      }
  }
  &:after {
    position: absolute;
    content: "";
    right: -2px;
    top: 0px;
    height: 100%;
    width: 10%;

    background: linear-gradient(to right,transparent, white);
   }

   .fight-container {
    text-transform: uppercase;
   }

   .fight-content{
     width: 285px;
     @include xs{
       width: 214px;
     }
   }


   .fight-info{
     text-align: center;
     padding-top: 30px;
     .fighters{
       font-weight:  bold;
       span {
         color: #d41e05;
       }
     }
   }

   .fight-date{
     text-transform: uppercase;
     .week-day : {
      font-weight: lighter;
     }

     .day {
       font-weight:  bold;
     }

   }
}

footer{
  p {
    font-weight: 800;
    color: #333333;
    text-align: center;
    padding: 50px 0px;
    margin: 0;
    font-size: 30px;
  }

  background-color: #f3f3f3;
  .providers-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.slick-dots{
  bottom: 0px;
  li.slick-active button:before {
    color: #d31b02;
  }
  li button:before {
    color: #cccccc;
    opacity : 1.0;
  }
}

.slick-next{
  display: none;
}
